$primary-color: #3498db;
$secondary-color: #2ecc71;
$alert-color: #e74c3c;

$base: 1rem;

$space_4: $base * 0.25;
$space_8: $base * 0.5;
$space_12: $base * 0.75;
$space_16: $base;
$space_20: $base * 1.25;
$space_24: $base * 1.5;
$space_28: $base * 1.75;
$space_32: $base * 2;
$space_36: $base * 2.25;
$space_40: $base * 2.5;

$link: #fff;
$link__hover: #a7a7a7;
